header {
    background: #4CAF50;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    max-width: 1300px;
    margin: auto;
    padding: 0 16px;
}

.site-logo {
    font-weight: normal;
    color: #fff;
}

.site-logo h1 {
    font-weight: normal;
}

.nav-link a {
    color: #fff;
    text-decoration: none;
    padding: 0 16px;
}
